<table class="table">
    <thead class="thread-dark"> 
        <tr>
            <th scope="col">Zodiac</th>
            <th>
                <div class="btn-group pull-left">
                    <button type="submit"(click)="ZodiacCalculate()" class="btn btn-outline-info">
                        Calculate 
                      </button>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>
                    <input  type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter birthday">
                    <output type="text" class="form-control" id="formGroupExampleInput"></output>
            </th>
        </tr>
    </tbody>
</table>

<form>
