.btn {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}

.main-title {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    color: #015670;
}

.form-control {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.month-display {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 50px;
    letter-spacing: 1px;
}

