/* angular-cli file: src/styles.css */
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import '~flatpickr/dist/flatpickr.css';
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
/* @import 'bootstrap-css-only/css/bootstrap.css'; */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

.cal-month-view {
    height: 500px;
    overflow: auto;
    padding-bottom: 30px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
