* {
    margin: 0;
    position: relative;
    padding: 0;
}



.heading {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    letter-spacing: 2px;
    color: #015670;
}

.heading::after {
    content: " ";
    background-color: #015670;
    width: 850px;
    height: 3px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

.content {
    text-align: center;
    margin-top: 15px;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    color: rgb(0, 0, 78);
}


